@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
#header{
    width: 100%;
    height: 80px;
    position: fixed;
    background: dimgray;
    z-index: 5;
    border-bottom: 1px solid black;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 200;
    background-color: dimgray;
    color: ghostwhite;
}

/* styles Logo and headings*/


h1,
h2 {
    font-family: bangers, sans-serif;
    color: ivory;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 300%;
    padding: 20px 0 20px 0;
    margin-left:5px;
}
/*navigation*/
#nav-bar {
    letter-spacing: 5px;
    list-style: none;
    font-size: 120%;
    padding-top: 20px;
}

#nav-bar li {
    float: right;
}

.menu-seperator {

    margin-right: 30px;
    border-right: 2px solid ghostwhite;
    padding-right: 30px;
}

#nav-bar a {
    color: inherit;
    text-decoration: none;
}

#nav-bar a:hover {
    border-bottom: 1px solid ghostwhite;
}

.active {
    border-bottom: 1px solid ghostwhite;
}

#logo,
#nav-bar {
    line-height: 50px;
}

/* main images*/
#main-image-location-outer {

    width: 100%;
    height: 600px;
    overflow: hidden;
}

#main-image-location {
    width: 100%;
    height: 600px;
    background: url('../images/main-image2.jpg') no-repeat center center;

    /* activates animation*/
    animation: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#main-image-index-outer {

    width: 100%;
    height: 600px;
    overflow: hidden;
}

#main-image-index {
    width: 100%;
    height: 600px;
    background: url('../images/main-image.jpg') no-repeat center center;

    /* activates animation*/
    animation: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* main image animation for its zoom*/
@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }


    to {
        transform: scale(1.1);
    }
}

#contact-us-main{
    width:100%;
    height: 800px;
    background: url("..//images/contact-us-main.jpg") no-repeat center center;
}
/* indoor bouldering*/

#indoor-bouldering {
    height: 700px;
    width: 100%;
    font-size: 130%;
    margin-top: 20px;

}

#left-about-indoor{
    padding-top: 20px;
    width: 33%;
    height: 300px;
    float: left;
    background: url(../images/indoor2.png) no-repeat center center;
}

#right-about-indoor{ 
    padding-top: 20px;
    width: 33%;
    height: 300px;
    float: right;
    background: url(../images/indoor1.png) no-repeat center center;
}

#center-about{ 
    padding-top: 70px;
    width: 33%;
    margin: 0 auto;
    text-align: center;
    font-size: 110%;
}

.sub-headings{
    font-size: 250%;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}
/*outdoor bouldering*/
#outdoor-bouldering {
    height: 800px;
    width: 100%;
    font-size: 130%;

}

#left-about-outdoor{
    padding-top: 20px;
    width: 33%;
    height: 300px;
    float: left;
    background: url(../images/outdoor2.png) no-repeat center center;
}

#right-about-outdoor{ 
    padding-top: 20px;
    width: 33%;
    height: 300px;
    float: right;
    background: url(../images/outdoor1.png) no-repeat center center;
}

/*locations content*/
#locations{
    height: 1000px;
    width: 100%;

}
#location-image1{
    margin: 20px 0 20px 0;
    height: 300px;
    width: 40%;
    float: left;
    background: url(../images/location1.png) no-repeat center center;
    border-radius: 50%;
}
.location-text-right{
    height: 300px;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    float: right;
    font-size: 130%;
    

}

#location-image2{
    margin: 20px 0 20px 0;
    height: 300px;
    width: 40%;
    float: right;
    background: url(../images/location2.png) no-repeat center center;
    border-radius: 50%;
}

.location-text-left{
    height: 300px;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    float: left;
    font-size: 130%;
  

}

#location-image3{
    margin: 20px 0 20px 0;
    height: 300px;
    width: 40%;
    float: left;
    background: url(../images/location3.png) no-repeat center center;
    border-radius: 50%;
}

#location-image4{
    margin: 50px 0 50px 0;
    height: 300px;
    width: 40%;
    float: left;
    background: url(../images/location4.png) no-repeat center center;
    border-radius: 50%;
}

/* contact-us form*/
.contact-us-form{
    margin: 300px 40px 10px 10px;
  color:ghostwhite;
  background-color:rgba(60, 60, 60, 0.6);
  max-width:400px;
  position:absolute;
  left:10%;
  padding:30px;
}

.form-input{
    background:transparent;
    color:ghostwhite;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border:2px solid ghostwhite;
    border-radius:2px;
}
.form-input:hover{
    border-color:red;
}

.submit-button{
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:red;
    color:ghostwhite;
    display:block;
}
/*footer stylings*/
footer{
    height: 100px;

}
.footer-icons{
    text-align: center;
}

.footer-icons > li{
    display: inline;
}

.footer-icons i {
    font-size: 150% ;
    padding: 5%;
    color: ghostwhite;
}
/*media queries*/

@media screen and (max-width:900px){
.location-text-right, .location-text-left{
    height: 400px;
}
#location-image1,#location-image2,#location-image3,#location-image4{
height: 400px;

}
#outdoor-bouldering{
    height: 900px;
}

}

@media screen and (max-width:820px){
    #nav-bar{
        clear:left;
        float: left;
        margin-top: -30px;
        margin-left: 5px;
    }
    #header {
        height: 150px;
    }
    #left-about-indoor,#right-about-indoor{
        clear:left;
        clear: right;
        width: 50%;
        
    }
    #left-about-outdoor,#right-about-outdoor{
        clear:left;
        clear: right;
        width: 50%;
    }
    #center-about{
        width: 100%;
        text-align: left;
        margin-top: 280px;
    }

    #outdoor-bouldering{
        height: 800px
    }
    
    #main-image-index {
        background: url('../images/main-image.jpg') no-repeat left center;
    }
}


@media screen and (max-width:620px){
    .location-text-right, .location-text-left{
        height: 500px;
    }
    #location-image1,#location-image2,#location-image3,#location-image4{
    height: 500px;
    
    }

    #left-about-outdoor,#right-about-outdoor{
        width: 100%;
    }
    #left-about-indoor,#right-about-indoor{
        width: 100%;
    }
    #indoor-bouldering{
        height: 1050px;
    }
    #outdoor-bouldering{
        height: 1200px;
    }
}
@media screen and (max-width:550px){
    #left-about-indoor,#right-about-indoor{
        float: left;
        width: 100%;
    }
    #indoor-bouldering{
        height: 1200px;
    }
    #left-about-outdoor,#right-about-outdoor{
        float: left;
        width: 100%;
    }
    #outdoor-bouldering{
        height: 1200px;
    }

    .menu-seperator {

        margin-right: 10px;
        padding-right: 10px;
    }
    #nav-bar{
        font-size: 100%;
    }
    #main-image-index {
        background-position:20% 50%;
    }
}
@media screen and (max-width:410px){
    #outdoor-bouldering{
        height:1450px;
    }
}

@media screen and (max-width:520px) {

    #location-image1,#location-image2,#location-image3,#location-image4,.location-text-left,.location-text-right{
        width: 100%;
        clear: both;
    }
    #location-image1,#location-image2,#location-image3,#location-image4{
        height: 200px;

    }
    .location-text-left,.location-text-right{
        height: 400px;
    }
    
}