@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
#header{
    width: 100%;
    height: 100px;
    position: fixed;
    background: dimgray;
    z-index: 5;
    border-bottom: 1px solid black;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 200;
    background-color: dimgray;
    color: ghostwhite;
}

/* styles Logo and headings*/


h1,
h2 {
    font-family: bangers, sans-serif;
    color: ivory;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 300%;
    padding: 20px 0 20px 0;
}

#nav-bar {
    letter-spacing: 5px;
    list-style: none;
    font-size: 120%;
    padding-top: 20px;

}

#nav-bar li {
    float: right;
}

.menu-seperator {

    margin-right: 30px;
    border-right: 2px solid ghostwhite;
    padding-right: 30px;
}

#nav-bar a {
    color: inherit;
    text-decoration: none;
}

#nav-bar a:hover {
    border-bottom: 1px solid ghostwhite;
}

.active {
    border-bottom: 1px solid ghostwhite;
}

#logo,
#nav-bar {
    line-height: 50px;
}

/* main images*/
#main-image-location-outer {

    width: 100%;
    height: 600px;
    overflow: hidden;
}

#main-image-location {
    width: 100%;
    height: 600px;
    background: url('../images/main-image2.jpg') no-repeat center center;

    /* activates animation*/
    animation: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#main-image-index-outer {

    width: 100%;
    height: 600px;
    overflow: hidden;
}

#main-image-index {
    width: 100%;
    height: 600px;
    background: url('../images/main-image.jpg') no-repeat center center;

    /* activates animation*/
    animation: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* main image animation for its zoom*/
@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }


    to {
        transform: scale(1.1);
    }
}

/* indoor bouldering*/

#indoor-bouldering {
    height: 500px;

}

#left-about-indoor{
    padding-top: 20px;
    width: 33%;
    height: 300px;
    float: left;
    background: url(../images/indoor2.jpg) no-repeat center center;
    border-radius: 50%;
}

#right-about-indoor{ 
    padding-top: 20px;
    width: 33%;
    height: 300px;
    float: right;
    background: url(../images/indoor1.jpg) no-repeat center center;
    border-radius: 50%;
}

#center-about{ 
    padding-top: 70px;
    width: 33%;
    margin: 0 auto;
    text-align: center;
    font-size: 110%;
}

.sub-headings{
    font-size: 250%;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}
/*outdoor bouldering*/
#outdoor-bouldering {
    height: 500px;

}

#left-about-outdoor{
    padding-top: 20px;
    width: 33%;
    height: 300px;
    float: left;
    background: url(../images/outdoor2.jpg) no-repeat center center;
    border-radius: 50%;
}

#right-about-outdoor{ 
    padding-top: 20px;
    width: 33%;
    height: 300px;
    float: right;
    background: url(../images/outdoor1.jpg) no-repeat center center;
    border-radius: 50%;
}

/*locations content*/
#location-image1{
    margin: 20px 0 20px 0;
    height: 300px;
    width: 40%;
    float: left;
    background: url(../images/location1.jpg) no-repeat center center;
    border-radius: 50%;
}
.location-text-right{
    height: 300px;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    float: right;
    font-size: 130%;
    

}

#location-image2{
    margin: 20px 0 20px 0;
    height: 300px;
    width: 40%;
    float: right;
    background: url(../images/location2.jpg) no-repeat center center;
    border-radius: 50%;
}

.location-text-left{
    height: 300px;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    float: left;
    font-size: 130%;
  

}

#location-image3{
    margin: 20px 0 20px 0;
    height: 300px;
    width: 40%;
    float: left;
    background: url(../images/location3.jpg) no-repeat center center;
    border-radius: 50%;
}

#location-image4{
    margin: 50px 0 50px 0;
    height: 300px;
    width: 40%;
    float: left;
    background: url(../images/location4.jpg) no-repeat center center;
    border-radius: 50%;
}
/*footer stylings*/
footer{
    height: 100px;

}
.footer-icons{
    text-align: center;
}

.footer-icons > li{
    display: inline;
}

.footer-icons i {
    font-size: 150% ;
    padding: 5%;
    color: ghostwhite;
}